* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES*/
:root {
  /* COLORS */
  --BGCOLOR: #011638;
  --HEADING: #0f172a;
  --ERROR: firebrick;
  --COLOR: #fff;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.411);
  --BORDER-COLOR: #fff;
  --INACTIVE: lightgray;
  --TABLE-COLOR: #000;
  --TABLE-BGCOLOR: #fff;
  --INACTIVE: lightgray;
  --INVALID: red;
}

/* || UTILITY CLASSES*/
.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.25em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: var(--ERROR);
  background-color: var(--COLOR);
  text-align: center;
}

.errmsg a:any-link {
  color: var(--ERROR);
}

/* || GENERAL STYLES*/
body {
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus {
  color: var(--LINK-HOVER);
}

/* || PAGES*/
.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  flex-grow: 1;
  padding: 1em;
}

.public__main {
  flex-grow: 1;
  padding: 1em 0;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
}

.public__addr {
  margin-top: 1em;
}

.public__footer {
  display: flex;
  gap: 1em;
}

.welcome a::before {
  content: "➜";
}

/* || DASH*/

.dash-header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--HEADING);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-container {
  flex-grow: 1;
  padding: 0.75em 0.5em 0.5em;
}

.dash-footer {
  position: sticky;
  bottom: 0;
  background-color: var(--HEADING);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
}

/* || TABLES-GENERAL*/
thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  width: 100%;
}

.table--students {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  width: 100%;
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table--result {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table--result-p {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.5em;
  background-color: var(--BGCOLOR);
}

.result--section {
  margin: 0 auto;
  max-width: 800px;
  border-right: 1px solid var(--BORDER-COLOR);
  border-left: 1px solid var(--BORDER-COLOR);
}
